  body{
    background-image: url("https://img.freepik.com/free-vector/online-auction-landing-page-design_52683-76081.jpg?t=st=1735828654~exp=1735832254~hmac=496b46644c3ddff4ac221560fc5258f42bbb0e1c09e334e7bd220e7823138074&w=1060");
        
}  
/* body{ */
    /* background: url(bidding.jpg) repeat 0 0;
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.login-nav{
    text-align: right;

} */